<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>修改资料</title>

  <link rel="stylesheet" href="__STATIC__/css/adminLogin.css">

  <link rel="stylesheet" href="__STATIC__/css/bootstrap.css">  

  <link rel="stylesheet" href="__STATIC__/css/adminAdd.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/webuploader.css"><!-- 引用插件css -->

</head>

<body>


 <div class="header-top">
    <div class="container">
      <div class="head-main">
        <a href="index.html"><img src="__STATIC__/images/author/logo-1.png" alt="" /></a>
      </div>
    </div>
  </div>

  <div class="box">
   <div class="cnt">
    <p id="huanying"><span id="cnt_one">注册</span><a href="{:url('login/login')}" id="cnt_two">登录>></a></p>
    <div>
     <form class="bs-example bs-example-form" role="form" action="{:url('author/save')}" method="post">

      <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/未标题-1_03.png"></span>
       <input type="text" class="form-control" name="username" placeholder="请输入您的用户名" >
     </div><br>

     <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/realname.png"></span>
       <input type="text" class="form-control" name="realname" placeholder="请输入您的真实姓名" >
     </div><br>



    <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/suo.png"></span>
       <input type="password" name="password" class="form-control" placeholder="请输入您的密码" >
     </div><br>


     <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/suo1.png"></span>
       <input type="password" name="code" class="form-control" placeholder="请输入您的密码加密码" >
     </div><br>


     <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/tel.png"></span>
       <input type="text" name="tel" class="form-control" placeholder="请输入您手机号码" >
     </div><br>


     <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/email.png"></span>
       <input type="email" name="email" class="form-control" placeholder="请输入您的邮箱" >
     </div><br>

     <div class="input-group">
       <span class="input-group-addon"><img src="__STATIC__/images/adminLogin/note.png"></span>
       <input type="text" name="note" class="form-control" placeholder="备注">
     </div><br>


    <div id="uploader-demo">
    <!--用来存放item-->
    <p>请选择您的头像：</p>
    <div id="fileList" class="uploader-list">
    </div>
    <div id="filePicker" >选择图片</div>
  </div>


   </div>
   <div style="margin-top:10px;">
     <input class="form-control btn btn-info" type="submit" value="注册"/>
   </div>

 </form>
</div> 
</div>
</body>

  <script src="__STATIC__/js/jquery.min.js"></script>
  <script src="__STATIC__/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.min.js"></script><!-- 上传图片 -->
  <!-- <script type="text/javascript" src="__STATIC__/js/author/author.js"></script><!-- 上传图片 --> 
  <script type="text/javascript">
    
     var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼
           var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
           var thumbnailHeight = 100;  
           var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
           swf: '__PUBLIC__/webuploader/uploader.swf', //加载swf文件，路径一定要对
            // 文件接收服务端。
            server: '{:url("author/author/ajaxUpload")}',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
              title: 'Images',
              extensions: 'gif,jpg,jpeg,bmp,png',
              mimeTypes: 'image/'
            },
            fileNumLimit: 1, //限制上传个数
        });
      //上传完成事件监听
      uploader.on( 'fileQueued', function(file) {
        var $li = $(
          '<div id="' + file.id + '" class="file-item thumbnail">' +
          '<img>' +
          '</div>'
          ),
        $img = $li.find('img');
            // $list为容器jQuery实例
            $list.append( $li );
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
              if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
              }
              $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
            uploader.on('uploadSuccess',function(file,ret){
              if(ret.status==1){
                alert('上传成功！');
              }
            })
        });
  </script>
</html>
