.category_id{
    width: 49%;
    margin: 0px;
    font-size: 14px;
    color: #999;
    background: none;
    padding:11px;
    outline: none;
    border: 1px solid #999;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}
#uploader-demo{
    position: absolute;
    top: 320px;
    right: 10%;
    height: 250px;
    width: 200px;
    border: 1px solid #ccc;
    text-align: center;
}