.cnt{
	width: 800px;
	height: 550px;
}
.input-group .form-control{
	width: 250px;
}
.input-group{
}
hr{
	margin: 0;
}
#cnt_one{
	padding-right: 550px;
}
#uploader-demo{
	position: absolute;
	top: 300px;
	right: 35%;
	height: 250px;
	width: 200px;
	border: 1px solid #ccc;
}
#uploader-demo p{
	color: #333;
}
#filePicker{
	text-align: center;
	margin: 0;
	padding: 0;
}

.detail {
  height: 600px;
}
.detail table{
  float: left;
  width: 70%;

}
.detail .img{
	margin-left: 600px;
}
.detail .img img{
	margin-top:20px;
  width: 100px;
  height: 100px;
}
.input-group-addon img{
	width: 18px;
	height: 18px;
}