<!DOCTYPE html>
<html>
<head>
	<title>添加文章</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="__STATIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__STATIC__/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="__STATIC__/css/addArticle.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/webuploader.css"><!-- 引用图片插件css -->


	<script src="__STATIC__/js/jquery.min.js"></script>
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
	<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.min.js"></script><!-- 上传图片 -->

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><img src="__STATIC__/images/author/logo-1.png" alt="" /></a>
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
				{include file="public/nav"}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function(){
			$(" ul.navig").slideToggle("slow" , function(){
			});
		});
	</script>
	<div class="contact" style="background:none">
		<div class="container">
			<div class="contact-bottom">
				<div class="contact-text">		

					<form method="post" action="{:url('article/save')}">			
						<div class="col-md-8 contact-right">
							<input placeholder="标题" type="text" required name="title">
							
							<select name="category_id" class="category_id">
							{volist name="categoryList" id="vo"}
								<option value="{$vo.id}">{$vo.categoryname}</option>
							{/volist}
							</select>

							<textarea placeholder="描述" required name="description" style="margin-bottom:40px;"></textarea>

							<!-- 加载编辑器的容器 -->
							<script id="container" name="content" type="text/plain"></script>


							<div id="uploader-demo">
								<!--用来存放item-->
								图片：
								<div id="fileList" class="uploader-list" name="logo">
								</div>
								<div id="filePicker" >选择图片</div>
							</div>


							<div class="submit-btn">
								<input type="submit" value="发布">
							</div>

						</div>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('container');
    //对编辑器的操作最好在编辑器ready之后再做
    ue.ready(function() {
    //设置编辑器的内容
    ue.setContent('文章内容');
    //获取html内容，返回: <p>hello</p>
    var html = ue.getContent();
    //获取纯文本内容，返回: hello
    var txt = ue.getContentTxt();
});

</script>
</html>