
<!DOCTYPE html>
<html>
<head>
<title>文章</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="__STATIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="__STATIC__/css/style.css" rel='stylesheet' type='text/css' />
<script src="__STATIC__/js/jquery.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><img src="__STATIC__/images/author/logo-1.png" alt="" /></a>
			</div>
		</div>
	</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>

	<!--banner-end-->
	<!--start-single-->
	<div class="single">
		<div class="container">
				<div class="single-top">
<div class=" single-grid">
						<h4>{$myArticleDetail.title}</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>{$myDetail.username}</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>{$myArticleDetail.create_time}</span></li>		  						 	
		  						 <li><span><i class="glyphicon glyphicon-asterisk"> </i>{$category.categoryname}</span></li>
		  					</ul>		
					</div>
					<div class="comments heading">
						<div class="media">
					      	<div class="media-body">
						        <h4 class="media-heading">简介</h4>
						        <p>{$myArticleDetail.description}</p>
					      	</div>
					      
					 </div>
					  <div class="media">
					      
					      <div class="media-body">
					        <h4 class="media-heading">内容</h4>
					        <p>{$myArticleDetail.content}</p>
					      </div>
					    </div>
    				</div>
				</div>	
			</div>					
	</div>
	<!--end-single-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>© 2015 Coffee Break. All Rights Reserved | Powered by <a href="http://www.smallseashell.com/" target="_blank">小贝壳网站模板</a> </p>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>
</html>