<!DOCTYPE html>
<html>
<head>
	<title>编辑文章</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="__STATIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__STATIC__/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="__STATIC__/css/addArticle.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/webuploader/webuploader.css"><!-- 引用图片插件css -->


	<script src="__STATIC__/js/jquery.min.js"></script>
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
	<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.min.js"></script><!-- 上传图片 -->

	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><img src="__STATIC__/images/author/logo-1.png" alt="" /></a>
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
				{include file="public/nav"}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function(){
			$(" ul.navig").slideToggle("slow" , function(){
			});
		});
	</script>
	<div class="contact" style="background:none">
		<div class="container">
			<div class="contact-bottom">
				<div class="contact-text">		

					<form method="post" action="{:url('article/update')}">			
						<div class="col-md-8 contact-right">
						<input type="text" name="id" id="id" value="{$article.id}" hidden>
							<input placeholder="标题" type="text" required name="title" value="{$article.title}">
							
							<select name="category_id" class="category_id">
							{volist name="categoryList" id="vo"}
								<option value="{$vo.id}">{$vo.categoryname}</option>
							{/volist}
							</select>



							<textarea placeholder="描述" required name="description" maxlength="250">{$article.description}</textarea>

							<!-- 加载编辑器的容器 -->
							<script id="container" name="content" type="text/plain"></script>	
							<div class="submit-btn">
								<input type="submit" value="发布">
							</div>

						</div>

							 <div id="uploader-demo">
							    <!--用来存放item-->
							    <p>请选择您的头像：</p>
							    <div id="fileList" class="uploader-list">
							    </div>
							    <div id="filePicker" >选择图片</div>
							  </div>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('container',{initialFrameWidth:730,initialFrameHeight:500,});
    //对编辑器的操作最好在编辑器ready之后再做
    ue.ready(function() {
    //设置编辑器的内容
    ue.setContent('{$article.content}');
    //获取html内容，返回: <p>hello</p>
    var html = ue.getContent();
    //获取纯文本内容，返回: hello
    var txt = ue.getContentTxt();
});

</script>

 <script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.min.js"></script><!-- 上传图片 -->
  <!-- <script type="text/javascript" src="__STATIC__/js/author/author.js"></script><!-- 上传图片 --> 
  <script type="text/javascript">
    
     var $list=$("#fileList");   //这几个初始化全局的百度文档上没说明，好蛋疼
           var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
           var thumbnailHeight = 100;  
           var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
           swf: '__PUBLIC__/webuploader/uploader.swf', //加载swf文件，路径一定要对
            // 文件接收服务端。
            server: '{:url("author/article/ajaxUpload")}',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            accept: {
              title: 'Images',
              extensions: 'gif,jpg,jpeg,bmp,png',
              mimeTypes: 'image/'
            },
            fileNumLimit: 1, //限制上传个数
        });
      //上传完成事件监听
      uploader.on( 'fileQueued', function(file) {
        var $li = $(
          '<div id="' + file.id + '" class="file-item thumbnail">' +
          '<img>' +
          '</div>'
          ),
        $img = $li.find('img');
            // $list为容器jQuery实例
            $list.append( $li );
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb( file, function( error, src ) {
              if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
              }
              $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
            uploader.on('uploadSuccess',function(file,ret){
              if(ret.status==1){
                alert('上传成功！');
              }
            })
        });
  </script>
</html>