`<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <meta name="keywords" content="Coffee Break Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" /> -->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="__STATIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="__STATIC__/css/style.css" rel='stylesheet' type='text/css' />
	<script src="__STATIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/move-top.js"></script>
	<script type="text/javascript" src="__STATIC__/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><img src="__STATIC__/images/author/logo-1.png" alt="" /></a>
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
				{include file="public/nav"}			
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!-- script-for-menu -->
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function(){
			$(" ul.navig").slideToggle("slow" , function(){
			});
		});
	</script>
	<!-- script-for-menu -->
	<!--banner-starts-->
	<div class="banner">
		<div class="container">
			<div class="banner-top">
			</div>
		</div>
	</div>
	<!--banner-end-->
	<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-8 about-left">
					<div class="about-one">
						<h3>文章</h3>
						<form action="{:url('author/index')}" method="post">

							<span class="categoryList">文章分类</span>
							<select name="category_id" class="category_id" id="category_id">
								<option value="-1">全部</option>
								{volist name="category" id="vo"}
									<option value="{$vo.id}">
										{$vo.categoryname}
									</option>
								{/volist}
							</select>
						</form>
					
					</div>

					<div class="about-tre">				
						{volist name="article" id="vo"}
						<div class="a-1" class="abt-left" id="#{$vo.category_id}">
							<div class="col-md-6 abt-left articleImg"  style="margin-bottom:20px;">
							{if condition="$vo.status==2"}
								<a>
								<img class="articleLogo" src="__STATIC__/images/articleLogo/{$vo.logo}" alt="" /></a>
								<p><i>此文章已被禁用</i></p>
								<label>{$vo.create_time}</label>
							{else/}
								<a href="{:url('article/detail',['article_id'=>$vo.id])}" target="_blank">
								<img class="articleLogo" src="__STATIC__/images/articleLogo/{$vo.logo}" alt="" /></a>
								<h3>{$vo.title}</h3>
								<p>{$vo.description}</p>
								<label>{$vo.create_time}</label>

							{/if}
							</div>
						
						</div>
						{/volist}		
					</div>	
					
						<div class="clearfix"></div>
						{$article->render()}	
				</div>

				{if condition="$myDetail"}
				<div class="col-md-4 about-right heading">
					<div class="abt-1">
						<h3>我</h3>
						<div class="abt-one logo">
							<img src="__STATIC__/images/authorLogo/{$myDetail.logo}" alt="" />
							<p>{$myDetail.username}</p>	
							<p>{$myDetail.note}</p>						
						</div>
					</div>
				</div>
				{/if}
				<div class="clearfix"></div>			
			</div>		
		</div>
	</div>
	<!--about-end-->
	<!--slide-starts-->
	<div class="slide">
		<div class="container">
			<div class="fle-xsel">
				<ul id="flexiselDemo3">
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-1.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-2.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>			
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-3.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>		
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-4.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>	
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-5.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>	
					<li>
						<a href="#">
							<div class="banner-1">
								<img src="__STATIC__/images/author/s-6.jpg" class="img-responsive" alt="">
							</div>
						</a>
					</li>				
				</ul>
				
				<script type="text/javascript">
					$(window).load(function() {
						
						$("#flexiselDemo3").flexisel({
							visibleItems: 5,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 2
								}, 
								landscape: { 
									changePoint:640,
									visibleItems: 3
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
						
					});
				</script>
				<script type="text/javascript" src="__STATIC__/js/jquery.flexisel.js"></script>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>	
	<!--slide-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">
				<p>© 2015 Coffee Break. All Rights Reserved | Powered by <a href="http://www.smallseashell.com/" target="_blank">小贝壳网站模板</a> </p>
			</div>
		</div>
	</div>
	<div class="aa"></div>
	<!--footer-end-->
</body>

	<!-- 根据文章分类显示相应文章 -->
	<!-- <script type="text/javascript">
	$("#category_id").change(function(){
		 var opt=$("#category_id").val();
		 console.log(opt);
		 var request=new XMLHttpRequest();
		 request.open("GET","edit.html");
		 request.send();         
		 request.onreadystatechange=function(){
		 	if(request.readyState===4){
		 		if(request.status===200){
				 $(".aa").html(request.responseText);
				 alert("ok");
		 		}
		 		else{
		 			alert("error");
		 		}
	
		 	}
		 }
	})
	</script> -->
</html>